* {
  margin: 0px;
  padding: 0px;
	font-family: 'Sansita Swashed', cursive;
}
header {
  width: 100%;
  height: 60px;

 background-color: #F0A500;

}.cajaimagen img {
	width: 100%;
	height: 300PX;
	object-fit:fill;
	
}.cajaimagen h1 {
	position: absolute;
	margin-top: -205px;
	margin-left: 300px;
	color: aliceblue;
	font-size:60px;
}
.logo {
  width: 50px;
  margin-top: 5px;
  margin-left: 50px;
  float: left;
}
.logoResponsive {
  width: 50px;
  margin-top: 5px;
  float: right;
  display: none;
}
.nav {
  width: 500px;
  float: left;
  margin-left: 50px;
  list-style: none;
  margin-top: 12px;
}

.bt {
  float: left;
  margin-right: 30px;
  padding: 10px;
  background: ;
  text-decoration: none;
  color: #ffffff;
  font-size: 17px;
  font-weight: 400;
 
}

.bt:hover {
  color: #ffffff;
  background-color:#87431D;
}
.mas {
  display: flex;
  flex-direction: column;
}

.mostrar {
  display: block;
}
.mas:hover {
  background-color: rgba(247, 75, 52, 1);
}

/*Sección de Yadira*/

.menu1 {
    width: 60%;
    height: 370px;
    background-color: #f18700;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10%;
    align-content: center;
    
}

.menu1 img {
    width: 400px;
    height: 300px;
}

h5{
    margin-top: 30px;
    margin-left: 20%;
    font-size: 30px;
    margin-top: 30%;
}

h2{
    font-size: 35px;
    text-align: center;
    margin-top: 25px;
    
}

h3{
    font-size: 15px;
    text-align: left;
    margin-left: 100px;
    margin-top: 70px;
}

h4{
    font-size: 15px;
    text-align: left;
    margin-left: 100px;
    margin-top: 15px;
    
}
.menu2{
    width: 60%;
    height: 550px;
    background-color: white;
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    align-content: center;
    color: #ffff;
}

.hijo1{
    width: 35%;
    height: 500px;
    background-color: #87431d;  
    float: left;
    margin-left: 100px;
}

.hijo2{
    width: 35%;
    height: 500px;
    background-color: #87431d; 
    float: right;
    margin-right: 100px;
    
}

.menu3{
    width: 60%;
    height: 300px; 
    margin-left: auto;
    margin-right: auto;
    margin-top: 5%;
    align-content: center;
}

.menu3 img {
    width: 900px;
    height: 350px;
}

footer{
    width: auto;
    height: 80px;
    margin-top: 500px;
    background-color: #f0a500;
    
}

.bt2{
    width: 150px;
    height: 40px;
    padding: 6px;
    border-radius:15px;
    background-color:white ;
    color: black;
    border-bottom-color: beige;

}

.bt3{
    width: 150px;
    height: 40px;
    padding: 6px;
    border-radius:15px;
    background-color:white ;
    color: black;
    margin-top: 50%; 

}

.bt4{
    width: 150px;
    height: 40px;
    padding: 6px;
    border-radius:15px;
    background-color:white ;
    color: black;
    margin-top: 39%;
    

} 

footer .Sociales img{
    width: 50px;
    height: 50px;
    margin-left: 10px;
    margin-top: -10px;
    margin-right: 20px;

}

h7{
    color: #ffff;
    font-size: 25px;
    margin-left: 5px;
    text-align: center;
    padding-top: 20px;
}


/*SECCION DEL MENU RESPONSIVE*/
.cajaDeIconosResponsive {
  width: 100%;
  height: auto;
  overflow: hidden;
}

#iconoMenuResposive {
  width: 35px;
  margin-top: 10px;
  float: left;
  display: none;
  margin-left: 10px;
}
#iconoMenuCerrar {
  width: 25px;
  margin-top: 10px;
  float: right;
  margin-right: 10px;
}
.none {
  display: none;
}
.cajaDeIconosResponsive {
  display: none;
}
/* -----------SECCIÓN DE RESPONSI MOVIL */
@media only screen and (max-width: 767px) {
  .cajaDeIconosResponsive {
    display: block;
  }
  
  .logo {
    display: none;
  }
  .logoResponsive {
    display: block;
    float: right;
  }
  nav {
    float: left;
  }
  .activarNav {
    background-color: #87431D;
    width: 80%;
    height: 400px;
      position: absolute;
  }

  .nav {
     background-color: #87431D;
    width: 100%;
    margin-left: 0px;
    padding-left: 10px;
    box-sizing: border-box;
	 display: none;
    
  }
  .activarBotones {
    display: block;
  }
  .bt {
    display: block;
    float: none;
    margin-right: 0px;
    padding: 20px;
    font-size: 20px;
    font-weight: 400;
  }
  #iconoMenuResposive {
    display: block;
    float: left;
  }
	.bt:hover {
  
  background-color: #F0A500;
}
	.cajaimagen img {
	width: 100%;
	object-fit:contain;
      
      
      
       

	
}.cajaimagen h1{
	font-size: 25px;
	margin-left: auto;
	display: none
    
    }.menu2{
        width: 500px;
        height: 400px;
        margin-right: 20px;
        
    } 
    .h1{
        font-size: 20px;
    }
    .menu1 img{
        width:100%; 
            height:110;
        margin-top: 30;
        object-fit: cover;
        
    }
    
    .menu3 img{
        width: 100%;
        height: 110px;
        margin-top: 30px;
        object-fit: cover;
        
        
    }
    footer{
width: 100px;
        height: 200;
        margin-top: 1000px;
        
    }
}
